@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background:  radial-gradient(600px 600px at 65vh 10vh, #505156, #2d2e33, #1B1C21);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@layer components {
    .area{
        @apply max-w-screen-xl w-[90%] overflow-hidden mx-auto
    }
}