@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .area{
        @apply max-w-screen-xl w-[90%] overflow-hidden mx-auto
    }
}
@layer utilities {
    .bg-gradient-radial-fixed {
      background: radial-gradient(100vh 100vh at 65vh 10vh, #505156, #2d2e33, #1B1C21);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  }